{% extends "base.html" %}

{% block "title" %}
  Renginiai
{% endblock %}

{% block "content" %}
  <h1>Renginys: {{ object.title }}</h1>

  <div>Pradzia: {{ object.date }}</div>
  <div>Jau dalyvauja: {{object.eventregistration_set.count }}</div>


  <a href="/events/register/{{ object.id }}">Uzsiregistruoti</a>
  <a href="{% url 'register-visitor' object.id %}">Uzsiregistruoti</a>

  <br>
  {% if messages %}
    {% for msg in messages %}
      <div>{{ msg }}</div>
    {% endfor %}
  {% endif %}
  <br>

  <form action="{% url 'event_detail' object.id %}" method="post">
    {% csrf_token %}
    <div>
      <label>Imones pavadinimas:</label>
      <input type="text" name="imones_pavadinimas">
    </div>

    <div>
      <label>Zmoniu skaicius:</label>
      <input type="number" name="zmoniu_skaicius">
    </div>

    <div>
      <label>Pastabos:</label>
      <textarea name="pastabos"></textarea>
    </div>
    <input type="submit" value="Registruotis">
  </form>

{% endblock %}